 :root {
  --primary-color: #21c063;
  --text-color: #white;
  --btn-color:#4dbcf5;
  --btn-hover:#3c93bf;
  --bg-color : #242122;
  --alarm-bg : #302c2e;
  --alarm-txt:#e9e9e9;
  --input-bg:#3a3638;
  --border:#514d4f;
}
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .box {
    text-align: center;
    padding: 40px;
    border: 2px solid #555;
    border-radius: 20px;
    background: #222;
  }
  button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    transform: scale(1.05);
  }
