/* first half */
      .details-bar{
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 8px;
        background-color: var(--bg-color);
        color: var(--text-color);
        padding: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        margin: 5px 0px;
      }
      .details-bar p{
        margin: 0;
      }
      .details-bar p:first-child{
        /* color:red; */
        margin-right: auto;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .details-bar button{
        border: none;
        border-radius: 6px;
        padding: 8px 16px;
        background-color: var(--btn-color);
        color: #242122;
        font-size: 0.9rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease;
      }
      .details-bar button:hover {
        background-color: var(--btn-hover);
      }
      .details-bar button:active {
          transform: scale(0.97);
      }
/* second half */